@model Inventario.Models.ViewModel.ClienteViewModel
@{
    ViewBag.Title = "New";
    Layout = null;
}

<style>
    .form-control {
        font-size: 0.879rem;
    }
</style>

<form class="form-control">
    <div class="row">
        <!-- Campos del formulario -->
        <div class="form-group col-md-6 col-lg-3">
            @Html.LabelFor(d => d.Cedula)
            @Html.TextBoxFor(d => d.Cedula, new { @class = "form-control", id = "Cedula" })
        </div>
        <div class="form-group col-md-6 col-lg-3">
            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control", id = "Nombre" })
        </div>
        <div class="form-group col-md-6 col-lg-3">
            @Html.LabelFor(d => d.Apellido)
            @Html.TextBoxFor(d => d.Apellido, new { @class = "form-control", id = "Apellido" })
        </div>
        <div class="form-group col-md-6 col-lg-3">
            @Html.LabelFor(d => d.Telefono)
            @Html.TextBoxFor(d => d.Telefono, new { @class = "form-control", id = "Telefono" })
        </div>
        <div class="form-group col-md-6 col-lg-3">
            @Html.LabelFor(d => d.Direccion)
            @Html.TextBoxFor(d => d.Direccion, new { @class = "form-control", id = "Direccion" })
        </div>
        <div class="form-group col-md-6 col-lg-3">
            @Html.LabelFor(d => d.Email)
            @Html.TextBoxFor(d => d.Email, new { @class = "form-control", id = "Email" })
        </div>
        <div class="form-group col-md-6 col-lg-3">
            @Html.LabelFor(d => d.Fecha)
            @Html.TextBoxFor(d => d.Fecha, new { @class = "form-control", type = "date", id = "Fecha" })
        </div>

        <!-- Botón de agregar -->
        <div class="form-group col-md-6 col-lg-1 ">
            <label></label>
            <button type="button" class="btn btn-primary form-control" onclick="jsAdd()">Agregar</button>
        </div>
        <div class="form-group col-md-6 col-lg-1 ">
            <label></label>
            <button type="button" class="btn text-bg-danger form-control" onclick="NewC()">Cancelar</button>
        </div>
    </div>
</form>