@using Inventario.Models.ViewModel
@model List<ListProveedorViewModel>
@{
    Layout = null;
}


<link rel="stylesheet" type="text/css" href="~/Content/css/List.css">

<div id="divLista" class="table-container">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-record-circle-fill icon-button"></i>
                        <input type="text" class="column-filter column-id" placeholder="Id">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-person-vcard-fill icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Nit">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-person-lines-fill icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Nombre">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-telephone-fill icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Celular">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-house-fill icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Dirección">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-envelope-fill icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Email">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-telephone-fill icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Teléfono fijo">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-link-45deg icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Sitio web">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-house-fill icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Ciudad">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-globe icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Pais">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <i class="bi bi-calendar-fill icon-button"></i>
                        <input type="text" class="column-filter" placeholder="Fecha registro">
                    </div>
                </th>
                <th>
                    <div class="header-input-container">
                        <span>Acciones</span>
                    </div>
                </th> <!-- Columna para las acciones, puede estar vacía -->
            </tr>
        </thead>

        <tbody>
            @foreach (var oProveedor in Model)
            {
                <tr>
                    <td>@oProveedor.Id</td>
                    <td>@oProveedor.Nit</td>
                    <td>@oProveedor.Nombre</td>
                    <td>@oProveedor.Celular</td>
                    <td>@oProveedor.Direccion</td>
                    <td>@oProveedor.Email</td>
                    <td>@oProveedor.Telefono_fijo</td>
                    <td>@oProveedor.Sitio_web</td>
                    <td>@oProveedor.Ciudad</td>
                    <td>@oProveedor.Pais</td>
                    <td>@(oProveedor.Fecha_registro.HasValue ? oProveedor.Fecha_registro.Value.ToString("d") : "N/A")</td>

                    <td>
                        <div class="d-flex">
                            <a onclick="Edit(@oProveedor.Id)">
                                <div class="btn2">

                                    <i class="text-dark bi bi-gear-wide-connected"></i>
                                </div>
                            </a>
                            <a onclick="jsDelete(@oProveedor.Id)">
                                <div class="btn1">

                                    <i class="text-dark bi bi-backspace-fill"></i>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>